.react-activity-calendar{
    margin-left: 18%;
    width: 60vw;
}
.month{
    text-align: center;
}
 #github-streak-stats{
    width: 60vw;
    margin-left: 20%;
 }
 #github-top-langs{
    width: 60vw;
    margin-left: 20%;
 }
 #github-stats-card{
    width: 60vw;
    margin-left: 20%;
 }
 @media screen and (max-width:420px) {
   .react-activity-calendar{
      width: 10vw;
      margin: auto;
      margin-left: 0;
   }
   
 }